<div
  class="bg-gradient-to-b from-black to-gray-900 text-white pb-10"
>
  <div class="container py-10 px-5">
    <h1 class="text-3xl font-bold mb-6">A Plan To Suit Your Needs</h1>
    <div class="flex gap-5">
      <div
        class="bg-blue-900 p-6 rounded-3xl w-[413px]"
        style="
          background: rgb(41, 137, 187);
          background: linear-gradient(
            121deg,
            rgba(41, 137, 187, 1) 39%,
            rgba(10, 16, 111, 1) 81%
          );
        "
      >
        <h2 class="font-bold text-3xl">Basic</h2>
        <p class="text-gray-300 font-bold text-xl">720p</p>
        <ul class="mt-3 text-gray-300">
          <li>&#10003; Good video quality</li>
          <li>&#10003; For your phone, tablet, laptop and TV</li>
        </ul>
        <p class="mt-4 font-bold font-bold text-xl">EUR 7.99 /mo</p>
      </div>
      <div
        class="bg-purple-900 p-6 rounded-3xl w-[413px]"
        style="
          background: rgb(181, 37, 200);
          background: linear-gradient(
            121deg,
            rgba(181, 37, 200, 1) 39%,
            rgba(79, 6, 90, 1) 81%
          );
        "
      >
        <h2 class="font-bold text-3xl">Standard</h2>
        <p class="text-gray-300 font-bold text-xl">1080p</p>
        <ul class="mt-3 text-gray-300">
          <li>&#10003; Great video quality</li>
          <li>&#10003; For your phone, tablet, laptop and TV</li>
        </ul>
        <p class="mt-4 font-bold font-bold text-xl">EUR 9.99 /mo</p>
      </div>
      <div
        class="bg-purple-800 p-6 rounded-3xl relative w-[413px]"
        style="
          display: inline-block;
          background: rgb(138, 145, 12);
          background: linear-gradient(
            114deg,
            rgba(138, 145, 12, 1) 5%,
            rgba(181, 37, 200, 1) 38%,
            rgba(79, 6, 90, 1) 81%
          );
        "
      >
        <span
          class="absolute top-0 right-0 text-white text-xs px-2 py-1 rounded-bl-xl rounded-tr-3xl"
          style="background-color: rgba(240, 248, 255, 0.454)"
          >Most Popular</span
        >
        <h2 class="font-bold text-3xl">Premium</h2>
        <p class="text-gray-300 font-bold text-xl">4K + HDR</p>
        <ul class="mt-3 text-gray-300">
          <li>&#10003; Best video quality</li>
          <li>&#10003; Immersive sound (spatial audio)</li>
          <li>&#10003; For your phone, tablet, laptop and TV</li>
        </ul>
        <p class="mt-4 font-bold font-bold text-xl">EUR 11.99 /mo</p>
      </div>
    </div>
    <div
      class="rounded-3xl mt-10 w-[80rem] h-[7rem] p-2 flex items-center justify-between"
      style="background-image: url('banner2.jpg')"
    >
      <h2 class="text-2xl font-bold">
        Discover your next favorites, plus new releases every week
      </h2>
      <a
        class="border-solid border-white rounded-3xl py-1 px-3"
        style="border-width: 1px; display: inline-block"
        href="#"
        >More About Netflix</a
      >
    </div>
    <div class="mt-10 text-center">
      <span class="bg-red-600 px-[84px] py-3 rounded-3xl font-bold text-white cursor-pointer">
        Join Now
    </span>
    </div>
  </div>
</div>
