<div class="sidebar w-20 h-screen overflow-hidden fixed gap-10 flex flex-col justify-center items-center z-10">
    <span class="inline-block cursor-pointer">
        <i class="fa-solid fa-search text-gray-100 text-xl"></i>
    </span>
    <a href="/main/" class="flex flex-col cursor-pointer">
        <i class="fa-solid fa-home text-gray-100 text-xl"></i>
        <span class="inline-block w-6 h-1 bg-red-700 rounded-md"></span>
    </a>
    <span class="inline-block cursor-pointer">
        <i class="fa-solid fa-clapperboard text-gray-100 text-xl"></i>
    </span>
    <span class="inline-block cursor-pointer">
        <i class="fa-solid fa-tv text-gray-100 text-xl"></i>
    </span>
    <span class="inline-block cursor-pointer">
        <i class="fa-solid fa-arrow-trend-up text-gray-100 text-xl"></i>
    </span>
    <span class="inline-block cursor-pointer">
        <i class="fa-solid fa-plus text-gray-100 text-xl"></i>
    </span>
    <span class="inline-block cursor-pointer">
        <i class="fa-solid fa-shuffle text-gray-100 text-xl"></i>
    </span>
</div>